<ion-content [fullscreen]="true">
   <div class="background-container">
      <div class="login-container">
         <img src="/assets/images/spotify.png" class="spotify-logo spotify-logo-login">
         
         <div class="sign-in-container">
            <h3 class="sign-in-header">Sign In</h3>
            <label class="sign-in-label">If You Need Any Support <span class="accent">Click Here</span></label>
         </div>

         <form (submit)="onLogin()" [formGroup]="loginForm">

            <div class="input-container">
               <input type="email" formControlName="email" required class="input" placeholder="Enter User Name Or Email">
            </div>

            <div class="input-container">
               <input type="email" formControlName="email" required class="input" placeholder="Password">
            </div>


            <label class="rec-pass-label">Recovery Password</label>


            <div class="secondary-content">
                  <button 
                  class="btn btn-primary"
                  [disabled]="!loginForm.valid"
               >
                  Sign In
               </button>
      
               <label class="or-label">Or</label>

               <div class="social-login-container">
                  <img src="/assets/images/google.svg" class="spotify-logo">
                  <img src="/assets/images/apple.svg" class="spotify-logo">
               </div>

               <label class="sign-in-label">Not A Member ? <span class="accent">Register Now</span></label>
            </div>
         </form>

      </div>
   </div>
  
</ion-content>