<ion-content [fullscreen]="true">

	<ion-grid>
		<ion-row>
		  <ion-col>1</ion-col>
		  <ion-col>2</ion-col>
		  <ion-col>3</ion-col>
		</ion-row>
	</ion-grid>




	<!-- <div class="playlist-view">
		<div class="user-container">
			
			<div class="user-data">
				<img src="/assets/images/avatar.jpg" class="avatar">
				<label class="user-email">johndoe&#64;gmail.com</label>
				<label class="user-name">John Doe</label>
			</div>

			<div class="status-container">
				<div class="status">
					<label class="status-value">1243</label>
					<label class="status-label">Followers</label>
				</div>

				<div class="status">
					<label class="status-value">779</label>
					<label class="status-label">Following</label>
				</div>
			</div>
		</div>

		<div class="playlist-container">

			<h3>Public Playists</h3>
			
			<div class="song-container" *ngFor="let song of tracklist">
				<img src="/assets/images/cover.jpg" class="album-art">
				<div>
					<label class="title">{{ song.title }}</label>
					<label class="artist">{{ song.artist }}</label>
				</div>
				<span> 3:07 </span>
				<img src="/assets/images/menu.png" class="menu">
			</div>

	
		</div>
	</div> -->
 
</ion-content>