/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

/**
 * Ionic Dark Mode
 * -----------------------------------------------------
 * For more info, please see:
 * https://ionicframework.com/docs/theming/dark-mode
 */

/* @import "@ionic/angular/css/palettes/dark.always.css"; */
/* @import "@ionic/angular/css/palettes/dark.class.css"; */
@import '@ionic/angular/css/palettes/dark.system.css';

@font-face {
  font-family: 'Spotify';
  font-style: normal;
  font-weight: normal;
  src: url('/assets/fonts/spotify-regular.ttf');
}

@font-face {
  font-family: 'Spotify';
  font-weight: bold;
  src: url('/assets/fonts/spotify-bold.ttf');
}

@font-face {
  font-family: 'Spotify';
  font-weight: lighter;
  src: url('/assets/fonts/spotify-light.ttf');
}

@font-face {
  font-family: 'Inter var';
  font-weight: 100 900;
  font-display: swap;
  font-style: normal;
  font-named-instance: 'Regular';
  src: url("/assets/fonts/Inter-roman.var.woff2");
}

@font-face {
  font-family: 'Inter var';
  font-weight: 100 900;
  font-display: swap;
  font-style: italic;
  font-named-instance: 'Italic';
  src: url("/assets/fonts/Inter-italic.var.woff2");
}

*{
  font-family: Inter var;
}

:root{
  --inputs-max-width: 344px;
}

// --------------------------------------------------------------
//  @ Fonts
// --------------------------------------------------------------

.primary{
  font-weight: 400;
  font-size: 14px;
  color: #ffffff;
}

.accent{
  font-weight: inherit;
  font-size: inherit;
  color: #48E73F;
}

// --------------------------------------------------------------
//  @ Views Containers
// --------------------------------------------------------------

ion-content {
  --background: transparent; /* Ion content transparent */
}

.login-view {
  // background: transparent !important;
  background-image: url('/assets/images/bg.jpg');
  background-size: cover;   /* Cover all the container */
  background-position: center;  /* Center image */
  height: 100vh;       
  margin: 0;
  padding: 0;        
  // display: flex;
  // justify-content: center;
  // align-items: center;
  // color: white;             
  // text-align: center;          
  // padding: 20px;
  // border-radius: 50px;        
}

.playlist-view {
  background-color: white;
  height: 100%;               
  display: flex;
  margin: auto !important;
  flex-direction: column;         
  text-align: start;
  border-radius: 50px;        
}

// --------------------------------------------------------------
//  @ Login View Styles
// --------------------------------------------------------------

@layer login {

  .login-container{
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  // --------------------------------------------------------------
  //  @ Logo
  // --------------------------------------------------------------

  // .spotify-logo-absolute {
  //    z-index: 9999;
  //    position: absolute;
  //    top: -70px;
  //    left: 10px;
  // }

  .spotify-logo-login {
    transform: scale(0.65) !important;
  }

  // --------------------------------------------------------------
  //  @ Sign-In Flag
  // --------------------------------------------------------------

  .sign-in-container{
    text-align: center;
    margin-bottom: 1.75rem;
      // transform: translateY(-30px);
  }

  .sign-in-header{
    font-weight: 700;
    font-size: 23px;
    color: #ffffff;
  }

  // --------------------------------------------------------------
  //  @ Form Styles
  // --------------------------------------------------------------

  .login-form{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .input-container{
    padding: 10px 0 10px 0;
    text-align: center;
    > input {
      max-width: var(--inputs-max-width);
      border-radius: 40px;
      padding: 36px;
      border: solid 1px #bbaaaa;
      background-color: rgba(217, 217, 217, 0.2);
      color: white !important;
    }
    > input::placeholder {
      color: white !important;
      opacity: 1;
    }
  }

  // --------------------------------------------------------------
  //  @ Form Styles - Recovery Label
  // --------------------------------------------------------------

  .recovery-container{
    padding: 10px 0 10px 0;
    text-align: start;
  }

  .rec-pass-label{
    line-height: 50px;
    margin-bottom: 2rem;
    margin-left: -7rem;
    padding: 0 0.15rem 0 0.15rem;
    font-size: 16px !important;
  }

  // --------------------------------------------------------------
  //  @ Form Styles - CTA
  // --------------------------------------------------------------

  .cta-container{
    padding: 10px 0 10px 0;
    display: flex;
    flex-direction: column;
  }

  .btn{
    max-width: var(--inputs-max-width);
    width: calc(var(--inputs-max-width) / 1.175);
    border-radius: 40px !important;
    padding: 36px !important;
    background-color: #18D780;
    font-weight: 700;
    font-size: 20px;
    color: white !important;
  }

  // --------------------------------------------------------------
  //  @ Login View - Bottom Component Styles
  // --------------------------------------------------------------
  // --------------------------------------------------------------
  //  @ Login View - Or
  // --------------------------------------------------------------

  .or-container{
    display: flex;
  }

  .or-label{
    line-height: 2.7rem;
    position: relative;
    margin: auto;
    max-width: var(--inputs-max-width);
    margin-bottom: 1rem;
  }

  .or-label::before, .or-label::after{
    position: absolute;
    content: '';
    border: solid 0.3px rgba(255, 255, 255, 0.4);
    width: 130px;
    top: 0.7rem;
    margin: 0 40px 0 40px;
  }

  .or-label::before{
    left: 0px;
  }

  .or-label::after{
    right: 0px;
  }

  // --------------------------------------------------------------
  //  @ Login View - Social Container
  // --------------------------------------------------------------

  .social-login-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 100px;
  }

  .social-login-container-absolute{
    // z-index: 9999;
    // position: absolute;
    // top: 80%;
    // display: flex;
    // flex-direction: row;
    // gap: 100px;
    // left: 30%;
  }

  .social-login-row{
    display: flex;
    flex-direction: row;
    gap: 100px;
  }

  .register-label{
    text-align: center;
    margin: auto;
    line-height: 80px;
  }

}

// --------------------------------------------------------------
//  @ Play List Styles
// --------------------------------------------------------------

@layer playlist {
  
  .shadowed-container{
    width: 100% !important;
    min-width: 100% !important;
    padding-top: 140px;
    display: flex;
    flex-direction: column;
    border-bottom-right-radius: 100px;
    border-bottom-left-radius: 100px;
    height: 520px;
    transform: scaleX(1.05);
    box-shadow: 0 10px 100px rgba(0, 0, 0, 0.2);
  }

  .left-arrow{
    position: absolute;
    top: -30%;
    left: 8%;
  }

  // --------------------------------------------------------------
  //  @ User Data
  // --------------------------------------------------------------

  .user-data{
    padding: 2rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 8px;
  }

  .avatar{
    // object-fit: cover !important;
    --side: 85px;
    min-width: var(--side);
    max-width: var(--side);
    min-height: var(--side);
    max-height: var(--side);
    border-radius: 100%;
    margin-bottom: 1rem;
  }

  .user-email{
    color: #686363;
    font-weight: 300;
    font-size: 16px;
  }

  .user-name{
    color: black;
    font-weight: 600;
    font-size: 23px; 
  }

  .status-container{
    display: flex;
    flex-direction: row;
    gap: 100px;
    justify-content: center;
    text-align: center;
  }

  .status{
    display: flex;
    flex-direction: column;
  }

  .status-value{
    color: black;
    font-size: 25px;
  }
  .status-label{
    color: black;
    font-size: 21px;
    font-weight: 100 !important;
  }

  .song-container{
    max-height: 50px;
    color: black;
  }

  // --------------------------------------------------------------
  //  @ PlayList Container
  // --------------------------------------------------------------

  .playlist-label{
    color: #3A3232;
    font-size: 21px;
    font-weight: 400;
    margin-bottom: 20px;
  }

  // --------------------------------------------------------------
  //  @ PlayList Container - Track Data
  // --------------------------------------------------------------

  .track-content{
    color: black;
    display: flex;
    flex-direction: column;
    align-items: start;
  }

  .album-art{
    width: 50px;
    height: 50px;
  }

  .track-length{
    line-height: 40px;
    font-weight: 200 !important;
    margin: auto;
    color: #686363;
  }

  .title{
    font-weight: 600 !important;
  }

  .artist{
    font-weight: 300 !important;
    font-size: 16px;
    font-weight: lighter !important;
    white-space: nowrap;
  }

  .menu{
    object-fit: cover;
    width: 2.5rem;
    size: 20px;
    transform: scale(50%);
  }

}

@layer login;
@layer playlist;