/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

/**
 * Ionic Dark Mode
 * -----------------------------------------------------
 * For more info, please see:
 * https://ionicframework.com/docs/theming/dark-mode
 */

/* @import "@ionic/angular/css/palettes/dark.always.css"; */
/* @import "@ionic/angular/css/palettes/dark.class.css"; */
@import '@ionic/angular/css/palettes/dark.system.css';
 
ion-content {
  --background: transparent; /* Ion content transparent */
}

 @font-face {
   font-family: 'Spotify';
   font-style: normal;
   font-weight: normal;
   src: url('/assets/fonts/spotify-regular.ttf');
 }
 
 @font-face {
   font-family: 'Spotify';
   font-weight: bold;
   src: url('/assets/fonts/spotify-bold.ttf');
 }
 
 @font-face {
   font-family: 'Spotify';
   font-weight: lighter;
   src: url('/assets/fonts/spotify-light.ttf');
 }

// --------------------------------------------------------------
//  @ Login Styles
// --------------------------------------------------------------

.spotify-logo {
   z-index: 9999;
   position: absolute;
   top: -70px;
   left: 10px;
}

.spotify-logo-login {
  transform: scale(0.35);
}
 
.background-container {
  background-image: url('/assets/images/bg.jpg');
  background-size: cover;   /* Cover all the container */
  background-position: center;  /* Center image */
  height: 100%;               
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;             
  text-align: center;          
  padding: 20px;
  border-radius: 50px;        
}

.input-container{
  padding: 10px 0 10px 0;
  > input {
    width: 344px;
    border-radius: 40px;
    padding: 36px;
    border: solid 1px #bbaaaa;
    background-color: rgba(217, 217, 217, 0.2);
    color: white !important;
  }
  > input::placeholder {
    color: white !important;
    opacity: 1;
  }
}

.sign-in-container{
    transform: translateY(-30px);
}

.sign-in-header{
  font-weight: 700;
  font-size: 23px;
  color: #ffffff;
}

.sign-in-label, .register-label{
  font-weight: 400;
  font-size: 14px;
  color: #ffffff;
}

.accent{
  font-weight: inherit;
  font-size: inherit;
  color: #48E73F;
}

.social-login-container{
  z-index: 9999;
  position: absolute;
  top: 80%;
  display: flex;
  flex-direction: row;
  gap: 100px;
  left: 30%;
}


.btn{
  width: 344px;
  border-radius: 40px;
  padding: 36px;
  background-color: #18D780;
  font-weight: 700;
  font-size: 20px;
  color: white;
}

.login-container{
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.secondary-content{
  display: flex;
  flex-direction: column;
}

.rec-pass-label{
  line-height: 80px;
  transform: translateX(400px) !important;
}

.or-label{
  line-height: 5rem;
  position: relative;
}


.or-label::before, .or-label::after{
  position: absolute;
  content: '';
  border: solid 0.5px rgba($color: #ffffff, $alpha: 0.6);
  width: 150px;
  top: 40px;
}

.or-label::before{
  left: 0px;
}

.or-label::after{
  right: 0px;
}

.register-label{
  line-height: 80px;
  transform: translateY(80px) !important;
}


// --------------------------------------------------------------
//  @ Play List Styles
// --------------------------------------------------------------

.playlist-view {
  height: 100%;               
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; 
  background-color: white !important;           
  text-align: center;          
  padding: 20px;
  border-radius: 50px;        
}

// --------------------------------------------------------------
//  @ User Container
// --------------------------------------------------------------

.user-container{
  padding-top: 180px;
  display: flex;
  flex-direction: column;
  width: 120%;
  border-radius: 130px;
  height: 520px;
  transform: translateY(-310px);
  box-shadow: 0 10px 100px rgba(0, 0, 0, 0.2);
}

.user-data{
  padding: 2rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 8px;
}

.avatar{
  --side: 70px;
  min-width: var(--side);
  max-width: var(--side);
  min-width: var(--side);
  max-width: var(--side);
  border-radius: 100%;
  display: block;
  margin-bottom: 1rem;
}

.user-email{
  color: #686363;
  font-weight: lighter;
  font-size: 16px;
}

.user-name{
  color: black;
  font-weight: 600;
  font-size: 23px; 
}

.status-container{
  display: flex;
  flex-direction: row;
  gap: 100px;
  justify-content: center;
}

.status{
  display: flex;
  flex-direction: column;
}

.status-value{
  color: black;
  font-size: 25px;
}
.status-label{
  color: black;
  font-size: 21px;
  font-weight: 100 !important;
}

.song-container{
  max-height: 50px;
  color: black;
}

// --------------------------------------------------------------
//  @ PlayList Container
// --------------------------------------------------------------

.playlist-container{
  transform: translateY(180px);
  width: 97%;
  > h3 {
    color: #3A3232;
    font-size: 21px;
    font-weight: 500;
    margin-bottom: 20px;
    transform: translateX(-118px);
  }
  position: absolute;
}

.album-art{
  width: 50px;
  height: 50px;
}

.song-container{
  margin: 0.875rem;
  // padding: 6px 0 6px 0;
  display: flex;
  flex-direction: row;
  gap: 5px;
  > div {
    display: flex;
    flex-direction: column;
  }
  > span {
    line-height: 20px;
    font-weight: 100;
    margin: auto;
  }
} 

.artist{
  font-size: 16px;
  font-weight: lighter !important;
}