/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

/**
 * Ionic Dark Mode
 * -----------------------------------------------------
 * For more info, please see:
 * https://ionicframework.com/docs/theming/dark-mode
 */

/* @import "@ionic/angular/css/palettes/dark.always.css"; */
/* @import "@ionic/angular/css/palettes/dark.class.css"; */
@import '@ionic/angular/css/palettes/dark.system.css';

ion-content {
  --background: var(--ion-color-dark);
}
 
ion-content {
  --background: transparent; /* Ion content transparent */
}

 @font-face {
   font-family: 'Spotify';
   font-style: normal;
   font-weight: normal;
   src: url('/assets/fonts/spotify-regular.ttf');
 }
 
 @font-face {
   font-family: 'Spotify';
   font-weight: bold;
   src: url('/assets/fonts/spotify-bold.ttf');
 }
 
 @font-face {
   font-family: 'Spotify';
   font-weight: lighter;
   src: url('/assets/fonts/spotify-light.ttf');
 }

 .spotify-logo {
   z-index: 9999;
   position: absolute;
   top: -70px;
   left: 10px;
}

.spotify-logo-login {
  transform: scale(0.4);
}
 
.background-container {
  background-image: url('/assets/images/bg.jpg');
  background-size: cover;   /* Cover all the container */
  background-position: center;  /* Center image */
  height: 100%;               
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;             
  text-align: center;          
  padding: 20px;
  border-radius: 50px;        
}

.input-container{
  padding: 10px 0 10px 0;
  > input {
    width: 344px;
    border-radius: 40px;
    padding: 36px;
    border: solid 1px #bbaaaa;
    background-color: rgba(217, 217, 217, 0.2);
    color: white !important;
  }
}

.sign-in-container{
    transform: translateY(-70px);
}

.sign-in-header{
  font-weight: 700;
  font-size: 23px;
  color: #ffffff;
}

.sign-in-label{
  font-weight: 400;
  font-size: 14px;
  color: #ffffff;
}

.accent{
  font-weight: inherit;
  font-size: inherit;
  color: #48E73F;
}

.social-login-container{
  z-index: 9999;
  position: absolute;
  top: 80%;
  display: flex;
  flex-direction: row;
}

.btn{
  width: 344px;
  border-radius: 40px;
  padding: 36px;
  background-color: #18D780;
  font-weight: 700;
  font-size: 20px;
  color: white;
}

.login-container{
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.secondary-content{
  display: flex;
  flex-direction: column;
}

.rec-pass-label{
  line-height: 80px;
  transform: translateX(400px) !important;
}